  <div class="center-block w-xxl w-auto-xs p-v-md">
    <!-- <div class="navbar">
      <div class="navbar-brand m-t-lg text-center clickable" ui-sref="home.search">
        <img src="/images/logo.png">
      </div>
      <div class="text-center">{{app.tagline}}</div>
    </div> -->

    <div class="p-lg panel b-a text-color m">
      <div class="m-b text-sm" ng-hide ="registration" align="center">
        Sign up for your {{app.name}} Account <br /><br />
        <span ng-show="signup_error" class="m-b text-sm text-danger text-center animated fadeInDown">
          <i class="fa fa-exclamation-triangle"></i>Unable to Register<br />
        </span>
        <span ng-show="email_exists" class="m-b text-sm text-danger text-center animated fadeInDown">
          <i class="fa fa-exclamation-triangle"></i> Email already in use<br />
        </span>
        <a ng-show="signup_error" ui-sref="access.forgot-password" class="m-b text-sm text-accent text-center animated fadeInDown">
          Forgot password?
        </a>
      </div>
     
      <form name="signupForm" ng-hide ="registration" ng-submit="register()">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input required="" md-no-asterisk="" name="fname" ng-model="fname">
            <div ng-messages="signupForm.fname.$error">
              <div ng-message="required">Please enter your first name</div>
            </div>
          </md-input-container>
           <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input md-no-asterisk="" name="lname" ng-model="lname">
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="email" required="" md-no-asterisk="" name="email" ng-model="email">
          <div ng-messages="signupForm.email.$error">
            <div ng-message="required">Please enter your email</div>
            <div ng-message="email">Please enter a valid email address</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password"  required="" md-no-asterisk="" minlength="8" name="password" ng-model="password">
          <div ng-messages="signupForm.password.$error">
            <div ng-message="required">Select a password (min 8 digits)</div>
          </div>
        </md-input-container>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" ng-model="agree" required><i class="indigo"></i> Agree the <a href>terms and policy</a>
          </label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised indigo btn-block p-h-md" ng-disabled="signupForm.$invalid">Sign up</button>
      </form>
    </div>
    <div class="p-v-lg text-center">
      <div>Already have an account? <button ui-sref="access.signin" class="md-btn">Sign in</button></div>
    </div>
  </div>
